<?xml version="1.0"?>
<?define ProductVersion = "{{ cookiecutter.version }}" ?>
<?define ProductUpgradeCode = "{{ cookiecutter.guid }}" ?>
<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi">
   <Product
            Id="*"
            UpgradeCode="$(var.ProductUpgradeCode)"
            Name="{{ cookiecutter.formal_name }}"
            Version="$(var.ProductVersion)"
            Manufacturer="{{ cookiecutter.organization_name }}"
            Language="1033">
        <Package
                InstallerVersion="200"
                Compressed="yes"
                Comments="Windows Installer Package"
        />

        <Media Id="1" Cabinet="product.cab" EmbedCab="yes"/>

        <Icon Id="ProductIcon" SourceFile="content/app/{{ cookiecutter.app_name }}.ico" />

        <Property Id="ARPPRODUCTICON" Value="ProductIcon" />
        <Property Id="ARPHELPLINK" Value="https://pybee.org" />
        <Property Id="ARPURLINFOABOUT" Value="https://pybee.org/about" />
        <Property Id="ARPNOREPAIR" Value="1" />
        <Property Id="ARPNOMODIFY" Value="1" />

        <Upgrade Id="$(var.ProductUpgradeCode)">
            <UpgradeVersion
                    Minimum="$(var.ProductVersion)"
                    OnlyDetect="yes"
                    Property="NEWERVERSIONDETECTED"
            />
            <UpgradeVersion
                    Minimum="0.0.0"
                    Maximum="$(var.ProductVersion)"
                    IncludeMinimum="yes"
                    IncludeMaximum="no"
                    Property="OLDERVERSIONBEINGUPGRADED"
            />
        </Upgrade>

        <Directory Id="TARGETDIR" Name="SourceDir">
            <Directory Id="ProgramFilesFolder">
                <Directory Id="AppDir" Name="{{ cookiecutter.formal_name }}">
<!-- CONTENT -->
                </Directory>
            </Directory>

            <Directory Id="ProgramMenuFolder">
                <Directory Id="ProgramMenuSubfolder" Name="{{ cookiecutter.formal_name }}">
                    <Component
                            Id="ApplicationShortcuts"
                            Guid="12345678-1234-1234-1234-333333333333">
                        <Shortcut
                                Id="ApplicationShortcut1"
                                Name="{{ cookiecutter.formal_name }}"
                                Icon="ProductIcon"
                                Description="{{ cookiecutter.description }}"
                                Target="[DIR_python]\pythonw.exe"
                                WorkingDirectory="DIR_app"
                                Arguments="app\start.py" />
                        <RegistryValue
                                Root="HKCU"
                                Key="Software\{{ cookiecutter.organization_name }}\{{ cookiecutter.formal_name }}"
                                Name="installed"
                                Type="integer"
                                Value="1"
                                KeyPath="yes" />
                        <RemoveFolder Id="ProgramMenuSubfolder" On="uninstall"/>
                    </Component>
                </Directory>
            </Directory>
        </Directory>

        <InstallExecuteSequence>
            <RemoveExistingProducts After="InstallValidate"/>
        </InstallExecuteSequence>

        <Feature Id="DefaultFeature" Level="1">
<!-- CONTENTREFS -->

            <ComponentRef Id="ApplicationShortcuts"/>
        </Feature>

        <UI Id="UserInterface">
          <Property Id="WIXUI_INSTALLDIR" Value="TARGETDIR" />
          <Property Id="WixUI_Mode" Value="Custom" />

          <TextStyle Id="WixUI_Font_Normal" FaceName="Tahoma" Size="8" />
          <TextStyle Id="WixUI_Font_Bigger" FaceName="Tahoma" Size="9" Bold="yes" />
          <TextStyle Id="WixUI_Font_Title"  FaceName="Tahoma" Size="9" Bold="yes" />

          <Property Id="DefaultUIFont" Value="WixUI_Font_Normal" />

          <DialogRef Id="ProgressDlg" />
          <DialogRef Id="ErrorDlg" />
          <DialogRef Id="FilesInUse" />
          <DialogRef Id="FatalError" />
          <DialogRef Id="UserExit" />

          <Publish Dialog="ExitDialog" Control="Finish" Event="EndDialog" Value="Return" Order="999">1</Publish>
          <Publish Dialog="WelcomeDlg" Control="Next" Event="EndDialog" Value="Return" Order="2"></Publish>

        </UI>

        <UIRef Id="WixUI_Common" />
    </Product>
</Wix>